@font-face {
  font-family: 'Geometria';
  src: url('./fonts/Geometria.ttf');
}

@font-face {
  font-family: 'Geometria-Heavy';
  src: url('./fonts/Geometria-Heavy.ttf');
}

@font-face {
  font-family: 'Geometria-Bold';
  src: url('./fonts/Geometria-Bold.ttf');
}

@font-face {
  font-family: 'Geometria-ExtraBold';
  src: url('./fonts/Geometria-ExtraBold.ttf');
}

@font-face {
  font-family: 'glyphicons-halflings-regular';
  src: url('./fonts/glyphicons-halflings-regular.ttf');
}

.container { display: block; }
.centered { margin: 0 auto; }
#footer { height: 75px; }

.poslist { list-style-type: none; }
.poslist li { margin-top: 10px; }

.welcome h4 { text-align: center; }

.test, .hello, #footer, .welcome, .about, .contacts, .check-results {
	display: block;
	box-shadow: 0px 1px 5px 0px gray;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 10px;
	height: 100%;
}

.underlink { text-decoration: underline; }

textarea {
    resize: none;
    width: 100%;
}

.uniquecode { text-align: center; }

#uniquecode { width: 100%; word-wrap: wrap;}
.smile { width: 24px; height: 24px; }

.checkinput { width: 50%; }


#footer { margin-top: 0px; }
.test a { font-weight: 400; }
#name { width: 25%; }
.canceltest { float: right; }
.question, .answers { padding: 10px; }
#timer { font-weight: bolder; }
#next, #canceltest { display: none; }
#question { font-weight: bolder; }

.hidden {
    display: none;
}

.check-results { display: none; }

@keyframes red {
  from {background-color: red;}
  to {background-color: white;}
}

@keyframes green {
  from {background-color: green;}
  to {background-color: white;}
}

@keyframes red2 {
  from {background-color: red;}
  to {background-color: white;}
}

@keyframes green2 {
  from {background-color: green;}
  to {background-color: white;}
}

.answers {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.red {
    background-color: salmon;
}

.green {
    background-color: lime;
}

#result {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#result-brief {
    font-weight: 900;
    font-size: 28px;
}

.test-header-container {
    display:flex;
    flex-direction:column;
}

.progress-bar-container {
    margin-left: 3px;
    margin-bottom: 10px;
}

#progress {
    margin-left: 0px;
}

#progress-bar-wrapper {
    height: 5px;
    width: 150px;
    border-radius: 2px;
    border: 1px solid gray;
}

#progress-bar {
    height: 100%;
}
