@font-face {
  font-family: 'Geometria';
  src: url('./fonts/Geometria.ttf');
}

@font-face {
  font-family: 'Geometria-Heavy';
  src: url('./fonts/Geometria-Heavy.ttf');
}

@font-face {
  font-family: 'Geometria-Bold';
  src: url('./fonts/Geometria-Bold.ttf');
}

@font-face {
  font-family: 'Geometria-ExtraBold';
  src: url('./fonts/Geometria-ExtraBold.ttf');
}

@font-face {
  font-family: 'glyphicons-halflings-regular';
  src: url('./fonts/glyphicons-halflings-regular.ttf');
}

.container { display: block; }
.centered { margin: 0 auto; }
#footer { height: 75px; }

.test, .hello, #footer {
	display: block;
	box-shadow: 0px 1px 5px 0px gray;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 10px;
	height: 100%;
}

#footer { margin-top: 0px; }
.test a { font-weight: 400; }
.test {  }
.canceltest { float: right; }
.question, .answers { padding: 10px; }
#timer { font-weight: bolder; }
#next, #canceltest { display: none; }
#question { font-weight: bolder; }



















